Package: oxygencursors-duzeru
Version: 0.0.2012-06-kde4.8-2.1
Architecture: all
Maintainer: Claudio A. Silva <claudiosilva@duzeru.org>
Installed-Size: 37269
Section: x11
Priority: optional
Description: Tema Oxygen mouse cursor 
 Este pacote contém Oxygen cursor theme,
 originally created for KDE 4.
